Need to Return Candidate Facility Locations, Demand Locations, and times between everything

In [9]:
import random
import numpy as np
import pandas as pd

In [ ]:
size = 10
demand_cnt = 10

def get_time(loc1, loc2):
    return abs(loc1[0]  - loc2[0]) + abs(loc1[1]  - loc2[1])

def get_data(size):
    grid = np.zeros((size, size))
    demand_locations = set()

    while len(demand_locations) < demand_cnt:
        rand_row, rand_col = random.choice(range(size)), random.choice(range(size))
        demand_locations.add((rand_row, rand_col))
        grid[rand_row, rand_col] = 1
    
    candidate_facilties = []
    for i in range(size):
        for j in range(size):
            if grid[i,j] == 0:
                candidate_facilties.append((i,j))

    demand_locations = list(demand_locations)

    Tx = np.zeros((demand_cnt, demand_cnt))
    for j1 in range(demand_cnt):
        for j2 in range(demand_cnt):
            Tx[j1, j2] = get_time(demand_locations[j1], demand_locations[j2])

    Ty = np.zeros((len(candidate_facilties), demand_cnt))
    for i in range(len(candidate_facilties)):
        for j in range(demand_cnt):
            Ty[i, j] = get_time(candidate_facilties[i], demand_locations[j])

    Tz = np.zeros((demand_cnt, len(candidate_facilties)))
    for i in range(demand_cnt):
        for j in range(len(candidate_facilties)):
            Tz[i, j] = get_time(demand_locations[i], candidate_facilties[j])

    return Tx, Ty, Tz

In [11]:
Tx, Ty, Tz = get_data(size)
print(Tx.shape, Ty.shape, Tz.shape)
Tx

(10, 10) (90, 10) (10, 90)

array([[ 0.,  5.,  4.,  7.,  6.,  6., 10.,  7.,  7.,  5.],
       [ 5.,  0.,  7.,  4.,  9.,  9.,  5., 10., 10.,  8.],
       [ 4.,  7.,  0., 11.,  2.,  6., 12.,  7.,  5.,  5.],
       [ 7.,  4., 11.,  0., 13., 13.,  7., 14., 14., 12.],
       [ 6.,  9.,  2., 13.,  0.,  4., 10.,  5.,  3.,  3.],
       [ 6.,  9.,  6., 13.,  4.,  0.,  6.,  1.,  1.,  1.],
       [10.,  5., 12.,  7., 10.,  6.,  0.,  7.,  7.,  7.],
       [ 7., 10.,  7., 14.,  5.,  1.,  7.,  0.,  2.,  2.],
       [ 7., 10.,  5., 14.,  3.,  1.,  7.,  2.,  0.,  2.],
       [ 5.,  8.,  5., 12.,  3.,  1.,  7.,  2.,  2.,  0.]])

In [12]:
pd.DataFrame(Tx)

      0     1     2     3     4     5     6     7     8     9
0   0.0   5.0   4.0   7.0   6.0   6.0  10.0   7.0   7.0   5.0
1   5.0   0.0   7.0   4.0   9.0   9.0   5.0  10.0  10.0   8.0
2   4.0   7.0   0.0  11.0   2.0   6.0  12.0   7.0   5.0   5.0
3   7.0   4.0  11.0   0.0  13.0  13.0   7.0  14.0  14.0  12.0
4   6.0   9.0   2.0  13.0   0.0   4.0  10.0   5.0   3.0   3.0
5   6.0   9.0   6.0  13.0   4.0   0.0   6.0   1.0   1.0   1.0
6  10.0   5.0  12.0   7.0  10.0   6.0   0.0   7.0   7.0   7.0
7   7.0  10.0   7.0  14.0   5.0   1.0   7.0   0.0   2.0   2.0
8   7.0  10.0   5.0  14.0   3.0   1.0   7.0   2.0   0.0   2.0
9   5.0   8.0   5.0  12.0   3.0   1.0   7.0   2.0   2.0   0.0

In [16]:
pd.DataFrame(Tx).to_csv('Tx.csv', index=True)
pd.DataFrame(Ty).to_csv('Tx.csv', index=True)
pd.DataFrame(Tz).to_csv('Tx.csv', index=True)